<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv='X-UA-Compatible', ,='',content='IE=Edge, chrome=1')
    meta(name='viewport', content='width=device-width')

    block title
      title Главная

    link(rel="stylesheet", href="assets/css/font-awesome.min.css")
    link(rel="stylesheet", href="assets/css/bootstrap.css")
    //- link(rel="stylesheet", href="assets/css/nekoAnim.css")
    link(rel="stylesheet", href="assets/css/owl.carousel.css")
    link(rel="stylesheet", href="assets/css/animate.css")
    link(rel="stylesheet", href="assets/css/style.css")
    style.
      body{
        font-family: 'Open Sans', sans-serif;
      }

    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(type='text/javascript').
      WebFontConfig = {
        google:{ families: ['Open+Sans:400,300,600,700:latin,cyrillic']}
      };
      (function(){
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    
 

  body
    .wrapper
      
      block content
        
    script(src="assets/js/jquery-3.2.1.min.js")    
    script(src="assets/js/jquery-1.11.2.min.js")    
    script(src="assets/js/jquery.waypoints.min.js")    
    script(src="assets/js/animate-css.js")    
    script(src="assets/js/bootstrap.js")
    script(src="assets/js/jquery.appear.js")
    script(src="assets/js/owl.carousel.min.js")
    script(src="assets/js/main.js")
    
