extends _template

block content
  
  include blocks/navbar
  include blocks/slider
  //- .main-content
  //-   h1 content
  //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quas tempore autem saepe necessitatibus et est accusantium ratione! Sunt, reprehenderit?
  include blocks/footer
  include blocks/contact-form
  
                  
