footer.footer
  .footer-menu
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-4
          .footer-item
            h5 Информация о компании
            p.footer-content
              | Здесь будет ваш текстю Вы можете описать 
              | преимущества Ваших услуг или товара, добавить
              | интересную информацию для посетителей сайта.
              | Здесь будет Ваш текст.
        
        .col-xs-12.col-sm-4.col-md-6.col-lg-3.col-lg-offset-1
          .footer-item
            h5 Контактная информация
            
            ul.footer-content
              li
                a(href="#").footer-link.icon-link 8(800)800-00-00
                  i.fa.fa-phone
              li
                a(href="#").footer-link.icon-link 8(800)800-00-00
                  i.fa.fa-phone
              li
                a(href="#").footer-link.icon-link mail@mail.ru
                  i.fa.fa-envelope
              li
                a(href="#").footer-link.icon-link Пн-Вс: 10:00-21:00
                  i.fa.fa-clock-o
              li
                a(href="#").footer-link.icon-link СПб, ул.Улица 31, к.1
                  i.fa.fa-map
             
        .col-xs-12.col-sm-4.col-md-6.col-lg-2
          .footer-item
            h5 Каталог
            ul.footer-content
             
              li
                a(href="#").footer-link Категория 1
              li
                a(href="#").footer-link Категория 2
              li
                a(href="#").footer-link Категория 3
              li
                a(href="#").footer-link Категория 4
              li
                a(href="#").footer-link Категория 5

        .col-xs-12.col-sm-4.col-md-6.col-lg-2
          .footer-item
            h5 Информация
            ul.footer-content
              li
                a(href="#").footer-link Полезная информация 1
              li
                a(href="#").footer-link Полезная информация 2
              li
                a(href="#").footer-link Полезная информация 3
              li
                a(href="#").footer-link Полезная информация 4
              li
                a(href="#").footer-link Полезная информация 5

  .footer-bottom.animated.fadeIn
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              p.copyright &copy MАГАЗИН 
                span 

                |. Все права защищены
   
        
            .col-xs-12.col-sm-6.col-md-6.col-lg-6.text-right
              .right-part
                
                ul.socials
                  li.socials-item
                    a(href="#").social-link.facebook Facebook
                      i.fa.fa-facebook
                  li.socials-item
                    a(href="#").social-link.vk Vk
                      i.fa.fa-vk
                  li.socials-item
                    a(href="#").social-link.inst Instagramm
                      i.fa.fa-instagram

                  
                p.company-link Разработано в 
                  a(href="#") Название
                    