#owl.owl-carousel.slider
    
    .slide
      .slide-img
        img(src="assets/img/slide.png")
      .slide-content
      
        .container
          .row.text-center
            .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1 
            
              h2.slide_title Здесь будет ваш текст 1
              h3.subtitle
                | Вы можете описать преимущества Ваших услуг или товара
              .slide-btns
                a(href="#").btn.slide-button Кнопка 1
                a(href="#").btn.slide-button Кнопка 2

    .slider-slide.slide
      .slide-img
        img(src="assets/img/slide.png")
      .slide-content.left
        .container
          .row
            .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-4.col-lg-8.col-lg-offset-4
          
            
              h2.slide_title Здесь будет ваш текст 2
              h4.subtitle
                | Вы можете описать преимущества Ваших услуг
              p.slide-descr
                | Вы можете описать преимущества Ваших услуг или товара
                | Вы можете описать преимущества Ваших услуг или товара
                | Вы можете описать преимущества Ваших услуг или товара
              .slide-btns
                a(href="#").btn.slide-button Кнопка 1
                a(href="#").btn.slide-button Кнопка 2
    .slider-slide.slide
      .slide-img
        img(src="assets/img/slide.png")
      .slide-content
        .container
          .row.text-center
            .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1 
            
              h2.slide_title Здесь будет ваш текст 3
              .slide-descr
                | Вы можете описать преимущества Ваших услуг или товара
              .slide-btns
                a(href="#").btn.slide-button Кнопка 1
                a(href="#").btn.slide-button Кнопка 2